<span class="titulo">Welcome</span>
<span class="titulo_mango">MANGO SOFT INC.</span>

<div class="container_product">YOUR PRODUCTS</div>

<div class="container_cuenta">
  <div class="container_caja">
    <div class="icon">
      <img src="../../../../assets/img/handdollarw.svg" alt="hand" />
    </div>
    <p class="parrafo1">Portfolio Loan</p>
    <p class="parrafo2">Amount</p>
    <p class="parrafo3">$ 000,000,000</p>
  </div>
  <button
    mat-icon-button
    class="example-icon"
    routerLink="/estadocuenta"
    routes="['/dashboard/estado-cuenta']"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>

<mat-divider class="divisor"></mat-divider>
