img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 40%;
}

h4 {
  color: #1058c1;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.mango-header {
  color: #000;
  height: 45px;
  text-align: center;
  font-size: 0.9rem;
}

.header-blue {
  background-color: #3d88e2;
  color: white;
  width: 100%;
  font-size: 0.9rem;
  height: 56px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}
